[Unit]
Description=The Ark Portal
After=network.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/opt/the-ark/the-ark
Restart=always
RestartSec=5
Environment=ARK_DB_PATH=/var/lib/the-ark/ark.db
WorkingDirectory=/var/lib/the-ark

[Install]
WantedBy=multi-user.target